<html>
  <head>
      <title>simple title website</title>
  </head>
    <body>
			<div>
			    <h2><a href="/">simple title page</a></h2>
			</div>
<div class="">
    <div class="">
        <div class="">
        	{% block content %}
				{% for post in posts %}
			<div class="">
        		<h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
        		<p>{{ post.text|linebreaksbr }}</p>
        		<div class="">
        		<p>Published : {{ post.published_date }}</p>
        		</div>
    		</div>
				{% endfor %}
			{% endblock %}
		</div>
    </div>
</div>
    </body>
</html>


