<html>
    <head>
        <title>Django simple blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django simple Blog</a></h1>
        </div>

        <div>
            <p>published: 09.04.2018, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sagittis at lacus a volutpat. Nullam sit amet feugiat purus. Proin sodales et massa vitae luctus. Pellentesque consequat mauris non scelerisque tincidunt. Curabitur purus nunc, blandit id turpis et, placerat ullamcorper felis. Mauris vitae imperdiet mi. Praesent fringilla ullamcorper nulla sit amet vehicula. Donec eu risus elementum, tincidunt metus in, accumsan purus. Proin sit amet luctus augue. Integer ullamcorper ex metus, sed tristique magna pharetra eu. Curabitur nunc lectus, fringilla id nulla vitae, auctor facilisis lectus. Aenean aliquam egestas ligula nec auctor. Donec maximus congue sem vitae feugiat.</p>
        </div>

        <div>
            <p>published: 10.04.2018, 12:15</p>
            <h2><a href="">My second post</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sagittis at lacus a volutpat. Nullam sit amet feugiat purus. Proin sodales et massa vitae luctus. Pellentesque consequat mauris non scelerisque tincidunt. Curabitur purus nunc, blandit id turpis et, placerat ullamcorper felis. Mauris vitae imperdiet mi. Praesent fringilla ullamcorper nulla sit amet vehicula. Donec eu risus elementum, tincidunt metus in, accumsan purus. Proin sit amet luctus augue. Integer ullamcorper ex metus, sed tristique magna pharetra eu. Curabitur nunc lectus, fringilla id nulla vitae, auctor facilisis lectus. Aenean aliquam egestas ligula nec auctor. Donec maximus congue sem vitae feugiat.</p>
        </div>
    </body>
</html>